<ion-header>
  <ion-toolbar class="header-of-toolbar">
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/tabs/chats" text=''></ion-back-button>
    </ion-buttons>
    <ion-title>Test naame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="bg"></div>
  <div style="overflow: auto; height: 100%;"  #scrollMe [scrollTop]="scrollMe.scrollHeight">
  <ion-grid >
    <ion-row *ngFor="let message of chat" >

      <ion-col size="9" size-md="6" *ngIf="message.author !== currentUserId" class="message other-message">
        <span>{{ message.message }}
        </span>

        <div class="time ion-text-right"><br>{{ message.createdAt?.toMillis() | date:'short' }}</div>
      </ion-col>

      <ion-col offset="3" offset-md="6" size="9" size-md="6" *ngIf="message.author === currentUserId" class="message my-message">
        <span>{{ message.message }}
        </span>
        <div class="time ion-text-right"><br>{{ message.createdAt?.toMillis() | date:'short' }}</div>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>
 </ion-content>
 
 <ion-footer>
  <ion-toolbar>
    <ion-row no-padding align-items-center>
      <ion-col size="10">
    <textarea class="message-input" #input rows="1" maxLength="500" (keydown)="resize()" (keyup)="resize()" 
          [(ngModel)]="newMsg"></textarea>
        </ion-col>
        <ion-col size="2" text-center>
          <ion-button expand="block" color="bright" [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">
            <ion-icon name="send" color="bright" slot="icon-only">ddd</ion-icon>
          </ion-button>
        </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-footer>