<ion-header>
  <ion-toolbar>
    <ion-title>chatlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let chat of chats" [routerLink]="['/chat',chat.id]" tappable>
    <ion-avatar slot="start" >
      <ion-img [src]="chat.mentee.photo"></ion-img>
    </ion-avatar>
    <ion-label>
      <div class="flex_box">
        <h3>{{chat.mentee.naam}}</h3>
        <ion-note slot="end">12:54</ion-note>
      </div>
      <p>{{chat.messages[0].message}}</p>
    </ion-label>
  </ion-item>

</ion-content>
