[size="small"] {
    height: 20px;
    font-size: 12px;
  }

  ion-avatar { 
    width: 60px;  
    height: 60px;  
}
  
.header-of-toolbar{
  --background: #396afc !important ;
  --color:white;
  border-bottom: 10px;
}
ion-label{
  --color	:black !important;
}
ion-chip{
  --color	:black !important;
  --background: #396afc!important;
}
ion-searchbar{
  border-radius: 2% !important;
}