<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Uitnodiging</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">

  <div>
    <h1 style="margin-bottom: 5px;">verzoek :</h1>
    <p>{{inhoud}}</p>
  </div>
<div class="antwoord">
  <ion-button style="padding-right: 5px;" color='danger'(click)="rejection()" [disabled]="!isActive">
    weiger
  </ion-button>
   <ion-button style="padding-left: 5px;" color='success' (click)="accept()" [disabled]="!isActive">
    Bevestig
   </ion-button>
</div>
 

   <div *ngIf='isRejected'>
    <form [formGroup]="replyForm" (ngSubmit)="reject()">
  
      <ion-item>
        <ion-label>Weigeren</ion-label>
        <ion-textarea rows="6" formControlName="verzoektekst" placeholder='Laat je medestudent iets weten'> 
        </ion-textarea>
      </ion-item>
  
      <ion-button color='danger' type="submit" expand="block"
      >
      weiger
      </ion-button>
  
    </form>
  </div>

</ion-content>