.header-of-toolbar{
    --background: #2948ff !important ;
    --color:white;
    border-bottom: 10px;
  }

.profile-header{
    background-color: #396afc;
    height: 150px;
    padding-top: 1px;
  }
  
  .profile-header h2 {
    color:white;
    font-weight: bold;
    text-align: center;
  }
  