<ion-content class="user-profile-content">
  <ion-row class="user-details-section">
    <ion-col>
     <ion-img [src]="userImage"></ion-img>
    </ion-col>
    <ion-col class="user-info-wrapper">
      <ion-row class="user-data-row">
        <ion-col size="9">
          <h3 class="user-name">
            {{opleiding}}
          </h3>
          <h5 class="user-title">
            {{taalvoorkeur}}
          </h5>
        </ion-col>
      </ion-row>
      <ion-row class="actions-row">
        <ion-col class="main-actions">
          <ion-button class="call-to-action-btn" size="small" color="primary" >Mentorship aanvragen</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="user-stats-section">
    <ion-col class="user-stats-wrapper" size="4">
      <span class="stat-value">
       
      </span>
      <span class="stat-name"># geholpen</span>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="4">
      <span class="stat-value">
      
      </span>
      <span class="stat-name">Rating</span>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="4">
      <span class="stat-value">
      </span>
    </ion-col>
  </ion-row>
  <div class="user-about-section">
    <h3 class="details-section-title">Over mezelf</h3>
    <p class="user-description">
      {{beschrijving}}
    </p>
  </div>
  <div class="user-skills-section">
    <ion-row class="heading-row">
      <h3 class="details-section-title">Skills</h3>
    </ion-row>
  </div>

</ion-content>
