<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Invitation</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

  <form [formGroup]="invitationForm" (ngSubmit)="sendInvitation()">

    <ion-item>
      <ion-label position='floating'>Verzoektekst</ion-label>
      <ion-textarea rows="6" formControlName="verzoektekst">
      </ion-textarea>
    </ion-item>

    <ion-button type="submit" expand="block"
    [disabled]="!invitationForm.valid"
    >
    Stuur Verzoek
    </ion-button>

  </form>
 
</ion-content>