<ion-content padding>
<div class="logo">
  <h1>OdiMentee</h1>
  <ion-icon color="light" name="infinite-outline"></ion-icon>
</div>
 <div class="padding-form">
  <form (ngSubmit)="login()" [formGroup]="loginForm">
  
    <ion-item >
      <ion-label color="light" position="stacked">Email</ion-label>
      <ion-input type="email" placeholder="Email" name="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item >
      <ion-label color="light" position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
    </ion-item>

  <ion-button style="padding-top: 2px;" expand="block" shape="round" color="primary" expand="full" type="submit"
    [disabled]="!loginForm.valid">Login</ion-button>
</form>
 </div>
  
 
  <div class="padding-form2">
    <ion-button color="tertiary" expand="block" shape="round" routerLink="/register">Maak account aan</ion-button>
    <ion-button color="light" fill="clear" expand="full" (click)="openReset()">Paswoord vergeten?</ion-button>
  </div>
 
</ion-content>
