ion-content {
    --ion-background-color: #396afc;
    font-family: Open-Sans;
}
 
ion-slides {
    height: 100%;
    --bullet-background-active: #fff;
    --bullet-background: #000;
}

.my-label{
    font-size: large !important;
    font-weight: 600 !important;
    color: white !important; 
}

ion-item{
    --ion-background-color: transparent !important;
    margin: 10px 10px 10px 10px;
    --border-width: 2px 2px 2px 2px;
    --border-radius	:3%;
    --border-color:var(--bullet-background-active);
        font-size: medium;
    font-weight: 400;
    color: white;
}
.padding-form{
    padding:5%;
    padding-bottom: 2px !important;
}
.padding-form2{
    padding:5%;
    padding-top: 2px !important;
}
.logo{
    height: 30%;
}

.space-between{
    display: flex;
    justify-content: space-between;
    padding: 15px 80px 0px 80px;
  }
  
  .rating{
  display: flex;
  flex-direction: column;
  align-items: center;  
  }

  .profile-header{
    background-color: #396afc;
    padding-top: 1px;
    border-radius: 10%;
  }

  .container {
    position: relative;
    width: 100%;
    height: 600px;
}

.div1 {
  
    width: 100%;
    height: 350px;
    margin: 5px auto;
    margin-bottom: 15%;
}
.div1 h1 {
    font-family: Open-Sans;
    font-weight: 600;
    color: white;
}

.div2 {

    width: 100%;
    height: 150px;
    margin: 5px auto;
}
.div2 ion-button {
    font-family: Open-Sans;
    font-weight: 400;
    color: white;
}
.div3{
    position:fixed; 
    bottom: 5%;
    width:100%; 
}

.div4{
  width: 100%;
  margin: 5px auto;
  margin-bottom: 15%;
}
.div4 h1{
  font-family: Open-Sans;
  font-weight: 600;
  color: white;
}
.container2 {
    width: 250px;
    height: 250px;
    display: block;
    margin: 80px auto;
  }

  .container3 {
    width: 250px;
    height: 150px;
    display: block;
    margin: 80px auto;
  }
  .profile-pic {
    width: 250px;
    height: 250px;
  }
  .outer {
    width: 100% !important;
    height: 100% !important;
    max-width: 250px !important; /* any size */
    max-height: 250px !important; /* any size */
    margin: auto;
    border-radius: 100%;
    position: relative;
    background-size: 250px 250px;
  }
  .inner {
    background-color: #075E54;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .camera-icon {
    height: 50px;
    width: 50px;
    color: white;
  }


$particles: 40;
$width: 400;
$height: 600;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}


.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}
    
.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}
        
@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}
    
@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}
    
@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {  
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {  
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {  
    margin-top: 30%;
    margin-left: 80%;
  }
}
.divErrors{
  text-align: left;
  padding-left: 4px;
  font-size: medium;
  font-weight: 500;
  
}

span{
  float: inline-start;
}

:host {
  .item-interactive.ion-invalid{
   --highlight-background: transparent !important;
   
 }
 .item-interactive.ion-valid{
   --highlight-background: black !important;
 }
}
.img-box{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  }
  .border-white{
    border: 4px solid white;
    border-radius: 50%;
    width: fit-content;
  }
  .border-blue{
    border: 6px solid #006bbf;
    border-radius: 50%;
    width: fit-content;
  }


  .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 3.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  