<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <div class="container">

      <div class="div1">
        <h2>Waar ben je op zoek naar ?</h2>
        <img src="/assets/imgs/mentee.gif">
      </div>

      <div class="div2">
        <div class="space-between">
          <div class="rating">
            <ion-button>Naar een mentor</ion-button> 
          </div>
          <div class="rating">
            <ion-button>Naar mentee's</ion-button> 
          </div>
        </div>
      </div>
    </div>
    </ion-slide>
  <ion-slide>
        <ion-content padding>
          
            <form class="validations-form" [formGroup]="introForm1" (ngSubmit)="onSubmit()">
              <ion-list class="inputs-list" lines="none">
                <ion-list-header>
                  <ion-label class="header-title">Profiel instellen</ion-label>
                </ion-list-header>

                <ion-item class="input-item item-label-floating">
                  <ion-label position="floating">talen</ion-label>
                  <ion-select formControlName="talen">
                    <ion-select-option *ngFor="let taal of talen" [value]="taal">{{ taal }}</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item class="input-item item-label-floating">
                  <ion-label position="floating">opleidingen</ion-label>
                  <ion-select formControlName="opleidingen" cancelText="Cancel" okText="OK">
                    <ion-select-option *ngFor="let opleiding of opleidingen" [value]="opleiding">{{ opleiding }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item class="input-item item-label-floating">
                  <ion-label position="floating">opleidingenGraad</ion-label>
                  <ion-select formControlName="opleidingenGraad" cancelText="Cancel" okText="OK">
                    <ion-select-option *ngFor="let graad of opleidingenGraad" [value]="graad">{{ graad }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </form>
            <ion-button (click)="next()" fill="outline" expand="block" color="light">Next</ion-button>

          </ion-content>
        </ion-slide>

        <ion-slide>
          <ion-content padding>
            <p>test</p>
            
            <ion-button>
            <input type="file" (change)="uploadProfileToFirebase($event)" id="file-input" accept="image/png, image/jpg, image/jpeg">
            </ion-button>


              <ion-button (click)="next()" fill="outline" expand="block" color="light">Next</ion-button>
            </ion-content>  
          </ion-slide>
        

        <ion-slide>
          <ion-content padding>
            <p>test</p>
              <form class="validations-form" [formGroup]="introForm2" (ngSubmit)="onSubmit2()">
                
                <ion-item class="input-item item-label-floating">
                  <ion-label position="floating">Beschrijving</ion-label>
                <ion-input type="text" placeholder="geef een korte beschrijving van jezelf" formControlName="beschrijving"></ion-input>
                </ion-item>

                <ion-item class="input-item item-label-floating">
                  <ion-label position="floating">skills</ion-label>
                  <ion-select multiple="true" formControlName="skills">
                    <ion-select-option *ngFor="let skill of skills" [value]="skill" >{{ skill }}</ion-select-option>
                  </ion-select>
                </ion-item>


                <ion-button class="submit-btn" type="submit" expand="block" fill="outline"
                  [disabled]="!introForm2.valid || !introForm2.valid">Submit</ion-button>
              </form>
              <ion-button (click)="next()" fill="outline" expand="block" color="light">Next</ion-button>
            </ion-content>  
          </ion-slide>
        


        </ion-slides>
</ion-content>
