ion-content {
    --ion-background-color: #396afc;
    font-family: Open-Sans;
}
 
ion-slides {
    height: 100%;
    --bullet-background-active: #fff;
    --bullet-background: #000;
}

ion-item{
    --ion-background-color: transparent !important;
    padding: 5px 5px 5px 5px;
    color: white;
}
.padding-form{
    padding:5%;
    padding-bottom: 2px !important;
}
.padding-form2{
    padding:5%;
    padding-top: 2px !important;
}
.logo{
    height: 30%;
}

.space-between{
    display: flex;
    justify-content: space-between;
    padding: 15px 80px 0px 80px;
  }
  
  .rating{
  display: flex;
  flex-direction: column;
  align-items: center;  
  }

  .profile-header{
    background-color: #396afc;
    padding-top: 1px;
    border-radius: 10%;
  }

  .container {
    position: relative;
    width: 100%;
    height: 600px;
}

.div1 {
  
    width: 100%;
    height: 250px;
    margin: 5px auto;
    margin-bottom: 15%;
}
.div1 h1 {
    font-family: Open-Sans;
    font-weight: 600;
    color: white;
}

.div2 {

    width: 100%;
    height: 150px;
    margin: 5px auto;
}
.div2 ion-button {
    font-family: Open-Sans;
    font-weight: 400;
    color: white;
}
.div3{
    position: fixed; 
    bottom: 10%;
    width:100%; 
}

.container2 {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
  }
  .profile-pic {
    width: 150px;
    height: 150px;
  }
  .outer {
    width: 100% !important;
    height: 100% !important;
    max-width: 150px !important; /* any size */
    max-height: 150px !important; /* any size */
    margin: auto;
    border-radius: 100%;
    position: relative;
    background-size: 150px 150px;
  }
  .inner {
    background-color: #075E54;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .camera-icon {
    height: 30px;
    width: 30px;
    color: white;
  }